body {
    border: 5px double #ccc;
    font-size: 120%;
    background: #ccc;
    border-radius: 30px;


}

article {
    border: 2px solid black;
    border-radius: 30px;
}


.Titulo {
    background: cornflowerblue;
    border: 2px solid black;
    border-radius: 30px;
    margin: 2% 20%;
    text-align: center;
    background-image: url(https://images.alphacoders.com/992/thumb-1920-992689.jpg);

}

img {
    width: 50%;
    margin: 2% 20%;
    height: 50%;
}

#borda {
    border: 2px solid black;



}

.end {
    background: rgb(161, 152, 152);
    border: 2px solid black;
    border-radius: 30px;
    margin: 2% 20%;
    text-align: center;

}

h4 {

    border: 5px double black;
    border-width: 10%;
    margin: 0% 20%;
    padding: 8px;

}

.fundoTit {
    background-image: url(https://images.alphacoders.com/992/thumb-1920-992689.jpg);
}

.primeiroFundo {
    background-color: rgb(230, 180, 180);
}

.segundoFundo {
    background-color: rgb(138, 230, 138);
}

.terceiroFundo {
    background-color: rgb(236, 207, 162);
}

.quartoFundo {
    background-color: #C19A6B;
    margin: 0%;
}

.quintoFundo {
    background-color: rgb(209, 131, 57);
    margin: 0%;
}

.cor1 {
    background-color: rgb(230, 136, 136);
}

.cor2 {
    background-color: rgb(87, 224, 87);
}

.cor3 {
    background-color: rgb(238, 192, 122);
}

.cor4 {
    background-color: #b88c57;
}

.cor5 {
    background-color: rgb(204, 123, 48);

}